<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>読書管理システム</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <h1>読書管理システム</h1>

  <ul>
    <li><a href="{{ url_for('registration.add') }}">書籍登録</a></li>
    <li><a href="{{ url_for('registration.read_list') }}">読了済みリスト</a></li>
    <li><a href="{{ url_for('registration.unread_list') }}">未読リスト</a></li>
    <li><a href="{{ url_for('registration.graphs') }}">グラフページ</a></li>
  </ul>

</body>

</html>